# Rust build artifacts
target/
chaturaji.db
chaturaji.db-wal
*.db         
# WASM build output
crates/wasm/www/pkg/

# VS Code
.vscode/

# Backup-Archive
*.tar.gz
crates/trainer/chaturaji.db
weights.json
chaturaji.db
chaturaji.db-shm
chaturaji.db-wal
crates/wasm/www/game_analysis/
